<header>
	<nav>
		<figure>
			<a href="/">
				<img src="/assets/images/logo-w.svg" alt="Logo"
					style="width: 8rem; border: 1px solid white; margin: 1rem;" />
			</a>
		</figure>
		<ul>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>
</header>