<html lang="en">

    <head>
        {{> head}}
    </head>

    <body class="dark:bg-[#303841] dark:text-stone-100">
        <nav></nav>
        <main class="container-default mt-16 p-2 md:p-8">
            {{> @partial-block}}
        </main>
        {{> newsletter}}
        {{> footer}}
    </body>

</html>